.ipynb_checkpoints/Journal_Finder-checkpoint.ipynb
        .ipynb_checkpoints/SCopeScraping-checkpoint.ipynb
        Anna_University_JF.ipynb
        Journal_Finder.ipynb
        List_Of_Journal_With_Vector.json
        List_of_Journals_Links_Annexture2.json
        List_of_Journals_withLinks_of_scope.json
        List_of_Journals_with_scope-Copy1.json
        PRABHURAM.py
        SCopeScraping.ipynb
        __pycache__/
       parallel.py

        
